[Desktop Entry]
Encoding=UTF-8
Name=Sanity
Comment=Sanity P2P Cryptocurrency
Comment[fr]=Sanity, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sanity, eşten eşe kriptografik sanal para birimi
Exec=sanity-qt %u
Terminal=false
Type=Application
Icon=sanity128
MimeType=x-scheme-handler/sanity;
Categories=Office;Finance;
